.con{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin:5%;


}

.sub_con{
	display: flex;
	flex-direction: column;
	justify-content: center;


}

.content{
	color:white;
	font-size: 18px;
	margin: 3%;

}

.topic{
	font-size: 24px;
	color: white;
	text-decoration: underline;
	font-weight: bold;
	
}

.heading{
	font-size: 34px;
	color:white;
	text-align: center;
	margin:5%;


}



.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}






@media screen and (max-width: 600px) {

.con{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin:5%;

}

.content{
	color:white;
	font-size: 15px;
	margin: 3%;

}

.topic{
	font-size: 18px;
	color: #00ffff;
	text-decoration: underline;
	font-weight: bold;
	
}

.heading{
	font-size: 28px;
	color:white;
	text-align: center;
	margin:5%;


}

.sub_con{
	display: flex;
	justify-content: center;
	

}

	
}