@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';


.ghostcontainer {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.ghosttext {
  position: absolute;
  /* padding-top: 10%; */
  bottom: -4%;
  font-family: roboto;
	font-weight: 400;
	font-size: 25px;

	color: #fafafa;
}

.dud {
	color: #757575;
}
