.close {
    color: #eee;
    float: right;
    font-size: 50px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

#menuclose{
	position:  absolute;
	right: 5%;
	top: 5%;
}
#menunavbar{
	z-index: 3;
}
